<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.flyingsoftgames.ondestroyplugin" version="0.1.0">
 <name>Cordova onDestroy Plugin</name>
 <description>Sets an event listener that runs when the Cordova Activity is destroyed.</description>
 <author>Michael Romanovsky</author>
 <license>MIT (see readme.md)</license>
 <keywords>cordova,phonegap,android,agamemnus,flyingsoftgames,ondestroy</keywords>
 <engines><engine name="cordova" version=">=3.0.0" /></engines>
 <js-module src="www/ondestroyplugin.js" name="OnDestroyPlugin"><clobbers target="window.plugins.OnDestroyPlugin" /></js-module>
 <platform name="android">
  <source-file src="src/android/OnDestroyPlugin.java" target-dir="src/com/flyingsoftgames/ondestroyplugin" />
 </platform>
</plugin>
